
@import "tailwindcss";
@font-face {
  font-family: "Funnel Display";
 src:url("/fonts/FunnelDisplay-VariableFont_wght.ttf") format("truetype");
  font-weight: 300 800;
  font-style: normal;
  font-display: swap;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #f3f3eb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* optional app root helper in case you want a container class */
.app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: 'funnel display', sans-serif;
  
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

nav{
  background: #FC8085;
  padding: 0px;
  height:100%;
}

.navbuttons {
  list-style: none;
  padding: 50px;
  width: 100%;
  height: 100%;
  background-color: #E8E0C7;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-radius: 0px 120px 0px 0px ;
}


.nav-link{
  font-family: 'Funnel Display', sans-serif;
  font-size: x-large;
  display: block;
  padding: 0.6rem 1rem;
  width: 100%;
  text-decoration: none;
  border-radius: 6px;
   color: #569C74;

}

.nav-link:hover{
  background: rgba(193, 68, 177, 0.08);
  color: #DF540D;
}
.nav-link.active{
  background: rgba(255, 255, 255, 0.12);
  color: #FC8085;
}



.shape {
  height: 15em;
  width: 100%;
  border-radius: 0 0 0% 50%;
  background-color:#f3f3eb;
}

.logo-top-left {
  height: 15em;
  padding: 1.4em;
  position: absolute;
  top: 0;
  left: 0.6em;
}